@model QaisYousuf.ViewModels.ContactFormViewModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}


<div class="container my-5 pt-4">
    <div class="text-center font-weight-bold light-blue-text mt-3 mb-5 display-4">We'd love to help!</div>
    <div class="row">
        <div class="col-md-6 col-lg-6 mt-5 d-flex justify-content-center">
            <div class="ContactFormBackground">
                <div class="ContactSVGBackground img-fluid">

                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal bg-transparent ">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group col-lg-12 offset-lg-4">
                            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                            <div class=" bg-transparent">
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control md-textarea" } })
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-lg-12 offset-lg-4">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-lg-12 offset-lg-4">
                            @Html.LabelFor(model => model.Moible, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.EditorFor(model => model.Moible, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Moible, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  col-lg-12 offset-lg-4">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.TextAreaFor(model => model.Message, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group  col-lg-12 offset-lg-4">
                            <div class="">
                                <button class="btn btn-primary btn-rounded" type="submit">Submit<i class="far fa-paper-plane pl-1"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
           
                    
         
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="img-fluid">
                <lottie-player src=https://assets7.lottiefiles.com/packages/lf20_7trlevay.json background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
            </div>
        </div>
    </div>
</div>


@section ContactCustomCSS{
    @Styles.Render("~/Content/ContactCustomCSS.css")
}


