@model QaisYousuf.ViewModels.ListOfContact


@if (Model?.ListContactBannerViewmodel != null)
{

<div class="ContactBackground mt-n5">

    @foreach (var item in Model.ListContactBannerViewmodel.Take(1))
    {
        <div class="bg-transparent mt-5">
            <!-- Mask & flexbox options-->
            <div class="mask">
                <!-- Content -->
                <div class="container h-100 my-3 py-3 ">
                    <!--Grid row-->
                    <div class="row align-items-center h-100 mt-sm-3">
                        <!--Grid column-->
                        <div class="col-md-7 text-center text-lg-left pt-5 mt-5">
                            <div class="display-4 mb-0">@item.MainTitle</div>
                            <p class="mb-2 pb-0 dark-grey-text">@item.SubTitle</p>

                            <a href="@item.ButtonUrl" class="btn btn-primary  btn-md ml-md-0">@item.ButtonText</a>

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-5 col-sm-12 pb-5 mb-md-5 pb-md-5">
                            <div class="img-fluid mt-sm-5 py-sm-5 " id="ContactBannerVedio">
                                <lottie-player src=@item.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
    }
</div>

}

@*@if (Model?.ListContactDetiailsViewModel != null)
{
    foreach (var ItemContactDetials in Model.ListContactDetiailsViewModel.Take(1))
    {
        <div class="container z-depth-0  px-5 py-5">

            <!--Section: Content-->
            <section class="my-md-5">

                <div class=" h-100 ">

                    <!-- Section heading -->
                    <div class="text-center font-weight-bold text-black-50 mt-3 mb-5 display-4">@ItemContactDetials.Title</div>
                    <div class="row">
                        <div class="col-md-6 ">

                            <div class="card z-depth-1 ">
                                <h4 class="font-weight-bold">Call or email</h4>

                                <p class="text-muted mb-4">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                                    molestiae.
                                </p>

                                <p class="font-weight-bold">Support:</p>

                                <p class="mb-2">+ 800 123 456</p>

                                <p class="mb-2"><a href="#">Contact support</a></p>

                                <p class="mb-4">Our technical support is available by phone or email from 11am to 11pm.</p>

                                <p class="font-weight-bold">Sales:</p>

                                <p class="mb-2">+ 900 123 456</p>

                                <p class="mb-2"><a href="#">Contact sales</a></p>

                                <p class="mb-4">Our sales team is available by phone or email from 11am to 11pm.</p>

                                <p class="font-weight-bold">General inquiries:</p>

                                <p class="mb-2"><a href="#">info@mycompany.com</a></p>

                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="img-fluid">
                                <lottie-player src=https://assets5.lottiefiles.com/packages/lf20_Zl6DDb.json background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>

                        </div>
                    </div>


                </div>

            </section>
            <!--Section: Content-->


        </div>
    }
}*@

@section ContactCustomCSS{
    @Styles.Render("~/Content/ContactCustomCSS.css")
}