@model QaisYousuf.ViewModels.ListOfContact


@if (Model?.ListContactBannerViewmodel != null)
{

<div class="ContactBackground mt-n5">

    @foreach (var item in Model.ListContactBannerViewmodel.Take(1))
    {
        <div class="bg-transparent mt-5">
            <!-- Mask & flexbox options-->
            <div class="mask">
                <!-- Content -->
                <div class="container h-100 my-3 py-3 ">
                    <!--Grid row-->
                    <div class="row align-items-center h-100 mt-sm-3">
                        <!--Grid column-->
                        <div class="col-md-7 text-center text-lg-left pt-5 mt-5">
                            <div class="display-4 mb-0">@item.MainTitle</div>
                            <p class="mb-2 pb-0 dark-grey-text">@item.SubTitle</p>

                            <a href="@item.ButtonUrl" class="btn btn-primary  btn-md ml-md-0">@item.ButtonText</a>

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-5 col-sm-12 pb-5 mb-md-5 pb-md-5">
                            <div class="img-fluid mt-sm-5 py-sm-5 " id="ContactBannerVedio">
                                <lottie-player src=@item.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
    }
</div>

}

@if (Model?.ListContactDetiailsViewModel != null)
{
    foreach (var ItemContactDetials in Model.ListContactDetiailsViewModel.Take(1))
    {
        <div class="container z-depth-0  px-5 py-5">

            <!--Section: Content-->
            <section class="my-md-5">

                <div class=" h-100 ">

                    <!-- Section heading -->
                    <h3 class="text-center font-weight-bold text-black-50 mt-3 mb-5">Contact Us</h3>
                    <div class="row">
                        <div class="col-md-6 ">

                            <div class="card z-depth-0 ">

                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="img-fluid">
                                <lottie-player src=https://assets5.lottiefiles.com/packages/lf20_Zl6DDb.json background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>

                        </div>
                    </div>


                </div>

            </section>
            <!--Section: Content-->


        </div>
    }
}

@section ContactCustomCSS{
    @Styles.Render("~/Content/ContactCustomCSS.css")
}