@model QaisYousuf.ViewModels.ListOfPlatfomeDesignViewModel

@if (Model.ListPlatformDesignViewModel !=null)
{

    foreach(var item in Model.ListPlatformDesignViewModel.Take(1))
    {
        <div class="container mt-3 px-5 pt-3 mb-5">
            <section class="text-center dark-grey-text">
               
                <!-- Section heading -->
                <h3 class="font-weight-bold">@item.MainTitle</h3>
                
            </section>
        </div>
    }

    
    <div class="container pt-5  pb-0 z-depth-0">


        <!--Section: Content-->
        <section class="text-center dark-grey-text">

           
            
            <div class="row text-center d-flex justify-content-center">
                @foreach (var item in Model.ListPlatformDesignViewModel)
                {
                <div class="col-lg-4 col-md-12   mb-2 pb-2">
                    <div class="view card-img-100 mx-auto mb-2 pb-2 ">
                        <img src="@item.ImageUrl" class="img-fluid" alt="smaple image">
                    </div>
                    <h5 class="font-weight-normal mb-3">@item.SubTitle</h5>
                    <p class="text-muted px-2 mb-lg-0">
                        @Html.Raw(item.Content)
                    </p>
                    <div class="view card-img  pt-2 mt-4 px-4">
                        <img src="@item.ImageContent" class="img-fluid" alt="Sample Image" />

                    </div>
                   
                    
                 

                </div>
                }



            </div>
            




        </section>
        <!--Section: Content-->


    </div>

}


@section HomeCustomCSS
    {
    @Styles.Render("~/Content/HomeCustomCSS.css")
}