@model QaisYousuf.ViewModels.ListOfProjectCounting

@if(Model?.CountingViewModel != null)
{

<div class="ProjectBackground">
    <div class="container pt-5 z-depth-0">
        <section class="p-md-3 pt-5 mx-md-5 text-lg-left">
            @foreach (var item in Model.CountingViewModel.Take(1))
            {
            <div class="pt-5 mt-4">
                <h3 class="font-weight-bold text-white text-center mb-2 pb-1">@item.MainTitle</h3>
                <h5 class="font-weight-bold text-white text-center mb-2 pb-1">@item.SubTitle</h5>
            </div>
                
            }

            <div class="row text-center d-flex justify-content-center">
                @foreach (var subItem in Model.CountingViewModel)
                {
                <div class="col-lg-4 text-center col-md-6 mb-lg-0 mb-0">
                    <div class="card-img-top mx-3 px-4">
                        <div class="CoutingAnimationBack">
                            
                                <lottie-player src=https://assets9.lottiefiles.com/packages/lf20_mbzffx7v.json background="transparent" speed="1" style="width: 250px; height: 250px;" loop autoplay></lottie-player>
                            
                            <div class="CoutingImages">
                               
                                <img src="@subItem.ImageUrl" class="img-fluid" alt="smaple image">
                            </div>
                            <div class="ProjectContentTitle">
                                <h4 class="font-weight-bold mb-0  text-white pr-sm-5">@subItem.Title</h4>
                                <h1 class="font-weight-bold mb-0  text-white pr-sm-5">@subItem.CountingNumber</h1>
                            </div>
                           
                        </div>
                        
                    </div>
                    
                   
                </div>
                }



            </div>
        </section>
    </div>
    
</div>


}

