@model QaisYousuf.ViewModels.WorkQualitySectionViewModel

@if (Model?.Id != null)
{
   
<div class="WorkQualtiyBackground">
    <header>

        <!-- Full Page Intro -->
        <div>
            <!-- Mask & flexbox options-->
            <div class="mask">
                <!-- Content -->
                <div class="container h-100 pt-5">
                    <!--Grid row-->
                    <div class="row align-items-center h-100 pt-5 text-center text-lg-left">
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="mb-4 display-5">@Model.Title</div>
                            <p class="mb-4 pb-2 text-white text-justify">@Html.Raw(Model.Content)</p>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-info btn-rounded btn-md ml-md-0" data-toggle="modal" data-target="#basicExampleModal">
                                @Model.ButtonText
                            </button>

                            <!-- Modal -->
                            <div class="modal fade text-black-50" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@Model.ModalTitle</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body  text-black-50">
                                            @Model.ModalsContent
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6 img-fluid">
                            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_wfkmlpuy.json" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            @*<img src="@Model.ImageUrl" alt="" class="img-fluid">*@
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->

    </header>
</div>

    
}

@section Scripts
{

    <script src="~/Scripts/node_modules/lottie-player/dist/lottie-player.js"></script>
    <script src="~/Scripts/LottieFiles.js"></script>
    <script src="~/Scripts/lottie.js"></script>
}
