@model QaisYousuf.ViewModels.ListPortfolio
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

@if (Model?.ListPortfolioViewModle != null)
{
    <div class="PortfolioMainBack">

        <!-- Full Page Intro -->
        <div class="bg-transparent mx-2 mt-md-5 mt-sm-0 mt-lg-3">
            <!-- Mask & flexbox options-->
            <div class="">
                <!-- Content -->
                <div class="container h-100">
                    <!--Grid row-->
                    <div class="row align-items-center h-100 text-justify text-center ">
                        @foreach (var item in Model.ListPortfolioViewModle)
                        {
                            <div class="col-md-5 mt-md-5 mt-sm-0 mt-lg-5 pt-md-5 pt-sm-0 pt-lg-5 offset-md-1 offset-sm-0 offset-lg-1 ">
                                <div class="PortofilioContentBackground">
                                    <div class="animationBackgroud">
                                        <div class="view pt-5">
                                            <lottie-player src=https://assets3.lottiefiles.com/packages/lf20_6mOtyq.json background="transparent" speed="0.5" style="width: auto; height: auto;" loop autoplay></lottie-player>
                                        </div>
                                    </div>
                                    <div class="ContentBack">
                                        <div class="mb-4 display-3 font-weight-bold">@item.Title</div>
                                        <h4 class="cyan-text">@item.SubTitle</h4>
                                    </div>

                                </div>


                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="">
                                    <lottie-player src=@item.BackgroundImage background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                                </div>
                            </div>
                            <!--Grid column-->
                        }
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </div>
        <!-- Full Page Intro -->

    </div>
    <!-- Main navigation -->

}
@if (Model?.ListPortfolioAboutViewModel != null)
{
    <div class="MainAboutMeBackground">

        <div class="container mt-4">


            <!--Section: Content-->
            <section class="dark-grey-text">

                <div class="row pr-lg-5">
                    @foreach (var item in Model.ListPortfolioAboutViewModel)
                    {
                        <div class="col-md-6 mb-4">

                            <div class="img-fluid mt-4">
                                <lottie-player src=@item.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                                <div class="d-flex justify-content-center">
                                    <!-- Facebook -->
                                    <a class="btn-floating btn-sm btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn-floating btn-sm btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
                                    <a class="btn-floating btn-sm btn-so" type="button" role="button"><i class="fab fa-stack-overflow"></i></a>
                                    <a class="btn-floating btn-sm btn-git" type="button" role="button"><i class="fab fa-github"></i></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 d-flex align-items-center">
                            <div>

                                <div class="font-weight-bold mb-4 display-3">@item.MainTitle</div>

                                <p class="text-justify">@item.Content</p>

                                <a href="@item.ButtonUrl" class="btn btn-primary btn-rounded">@item.ButtonText</a>

                            </div>
                        </div>
                    }


                </div>

            </section>
            <!--Section: Content-->


        </div>
    </div>

}

@if (Model?.ListWorkExperienceViewModel != null)
{
    <div class="container mt-5">


        <!--Section: Content-->
        <section class="text-center dark-grey-text">



            <div class="font-weight-bold display-4 mb-5">Work Experience</div>




            <div class="row text-center d-flex justify-content-center bg-transparent">
                @foreach (var item in Model.ListWorkExperienceViewModel)
                {
                    <div class="col-md-4 mb-4">
                        <div class="WorkExperienceMainBack">
                            <div class="WorkSVGBack">
                                <svg width="285" height="270" viewBox="0 0 285 270" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g opacity="0.38">
                                        <path d="M263.715 48.5035C288.693 79.8473 290.51 129.589 275.296 167.292C260.309 204.995 228.518 230.661 192.413 248.604C156.308 266.547 115.661 276.314 84.7786 262.686C53.8962 249.058 32.7781 212.036 17.3369 167.065C1.66858 122.093 -8.32279 69.1723 13.4766 38.2827C35.503 7.62032 89.3202 -1.01058 140.185 1.26071C191.051 3.75913 238.964 16.9326 263.715 48.5035Z" fill="url(#paint0_linear)" fill-opacity="0.27" />
                                        <path d="M239.918 65.3293C259.964 90.5759 261.422 130.641 249.212 161.01C237.185 191.379 211.672 212.052 182.697 226.505C153.722 240.958 121.102 248.825 96.3182 237.848C71.5345 226.871 54.5867 197.051 42.1948 160.827C29.6207 124.604 21.6024 81.9774 39.0969 57.0967C56.7735 32.399 99.9629 25.447 140.783 27.2765C181.604 29.2889 220.055 39.8998 239.918 65.3293Z" fill="url(#paint1_linear)" fill-opacity="0.27" />
                                        <path d="M213.563 84.0372C228.158 102.505 229.219 131.812 220.33 154.026C211.573 176.241 192.998 191.362 171.902 201.934C150.806 212.506 127.057 218.261 109.012 210.231C90.9681 202.202 78.6289 180.389 69.6068 153.892C60.4519 127.396 54.6141 96.215 67.3512 78.0152C80.2211 59.9492 111.666 54.864 141.386 56.2022C171.106 57.6743 199.101 65.4359 213.563 84.0372Z" fill="url(#paint2_linear)" fill-opacity="0.27" />
                                    </g>
                                    <defs>
                                        <linearGradient id="paint0_linear" x1="142.948" y1="0.917496" x2="142.948" y2="269.083" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#1694DB" stop-opacity="0.5" />
                                            <stop offset="1" stop-color="#FF0066" stop-opacity="0.29" />
                                        </linearGradient>
                                        <linearGradient id="paint1_linear" x1="143" y1="27" x2="143" y2="243" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#1694DB" stop-opacity="0.5" />
                                            <stop offset="1" stop-color="#FF0066" stop-opacity="0.29" />
                                        </linearGradient>
                                        <linearGradient id="paint2_linear" x1="143" y1="56" x2="143" y2="214" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#1694DB" stop-opacity="0.5" />
                                            <stop offset="1" stop-color="#FF0066" stop-opacity="0.29" />
                                        </linearGradient>
                                    </defs>
                                </svg>


                            </div>
                            <div class="workContent">
                                <div class="card-img-100 mx-5 pt-5 mb-0">
                                    <img src="@item.LogoUrl" class="img-fluid" alt="smaple image">
                                </div>
                                <h4 class="font-weight-normal mb-1 light-blue-text">@item.CompanyName</h4>
                                <h6 class="font-weight-normal mb-1 light-blue-text">@item.CompanyLocation</h6>
                                <span class="font-weight-normal mb-1 light-blue-text">@item.StartDate.ToShortDateString().ToString()</span>
                                <span>-</span>
                                <span class="font-weight-normal light-blue-text">@item.EndDate.ToShortDateString().ToString()</span>
                            </div>
                        </div>



                    </div>

                    <div class="col-md-8 mt-lg-n5 card z-depth-0 d-inline-flex justify-content-center">

                        <h5 class="font-weight-bold text-left light-blue-text mb-4">@item.JobTitle</h5>
                        <p class="text-muted px-2 mb-lg-0 text-justify">
                            @item.JobDesicription
                        </p>
                    </div>


                }


            </div>

        </section>
        <!--Section: Content-->


    </div>
}


@if (Model?.ListEducationViewModel != null)
{
    <div class="EducationMainback">
        <div class="container my-5 z-depth-0">


            <!--Section: Content-->
            <section class="dark-grey-text">

                <div class="row pr-lg-5">

                    @foreach (var item in Model.ListEducationViewModel)
                    {
                        <div class="col-md-6 offset-1 mb-4">

                            <div class="img-fluid mt-4">
                                <lottie-player src=@item.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>

                            </div>

                        </div>
                        <div class="col-md-5 d-flex align-items-center">
                            <div>

                                <div class="font-weight-bold mb-4 text-white display-4">@item.MainTitle</div>

                                <p>@item.Content</p>

                                <a href="#" class="btn btn-primary btn-rounded">Download CV</a>

                            </div>
                        </div>
                    }

                </div>

            </section>
            <!--Section: Content-->


        </div>
    </div>

}
@if (Model?.ListofOnlineCertificationViewModel != null)
{
    <div class="container mt-5">


        <!--Section: Content-->
        <section class="mx-md-5 dark-grey-text">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">

                    <!-- Card -->
                    <div class="card card-cascade wider reverse">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <div class="img-fluid mx-md-5 mx-sm-0 mx-lg-5 px-md-5 px-sm-0 px-lg-5 mt-4">
                                <lottie-player src=https://assets4.lottiefiles.com/packages/lf20_45movo.json background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>

                            </div>

                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">


                            <!-- Social shares -->
                            <div class="container my-5">


                                <!-- Section: Block Content -->
                                <section class="dark-grey-text text-center">

                                    @foreach (var item in Model.ListofOnlineCertificationViewModel.Take(1))
                                    {
                                        <div class="font-weight-bold mb-4 pb-5 mt-4 display-4">@item.MainTitle</div>

                                        
                                    }


                                    <!-- Grid row -->
                                        <div class="row">

                                            @foreach (var SubItem in Model.ListofOnlineCertificationViewModel)
                                            {
                                                <!-- Grid column -->
                                                
                                                <!-- Grid column -->
                                                <!-- Grid column -->
                                                <div class="col-md-6 mb-4">

                                                    <div class="view overlay rounded z-depth-1">
                                                        <img src="@SubItem.IconUrl" class="img-fluid" alt="Sample project image">
                                                        <a>
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>
                                                    </div>

                                                    <div class="px-md-3 px-sm-0 px-lg-4 pt-3 mx-0 mt-1 pb-0">
                                                        <a class="blue-text">
                                                            <h6 class="font-weight-bold mt-2 mb-3"><i class="fas fa-chalkboard-teacher pr-2"></i>@SubItem.ProgramName</h6>
                                                        </a>
                                                        <a class="blue-text">
                                                            <h6 class="font-weight-bold mt-2 mb-3"> <i class="far fa-calendar-alt pr-2"></i>@SubItem.FinishDate.ToShortDateString().ToString()</h6>
                                                        </a>
                                                        <h4 class="font-weight-bold mb-3">@SubItem.CourseLocation</h4>
                                                        <p class="text-muted text-justify">@SubItem.CourseDescription</p>
                                                        <a href="@SubItem.ButtonUrl" class="btn btn-primary btn-rounded btn-md">@SubItem.ButtonText</a>
                                                    </div>

                                                </div>
                                            }

                                            <!-- Grid column -->

                                        </div>
                                    <!-- Grid row -->

                                </section>
                                <!-- Section: Block Content -->


                            </div>
                            <!-- Social shares -->

                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Card -->
                    <!-- Excerpt -->


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->



        </section>
        <!--Section: Content-->


    </div>
}




@section scripts{
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav({
                breakpoint: 1200
            });
            // SideNav Scrollbar Initialization
            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });
    </script>
}

@section PortfolioCustomCSS{
    @Styles.Render("~/Content/PortfolioCustomCSS.css")
}