@model QaisYousuf.ViewModels.ListPortfolio

@if (Model?.ListPortfolioViewModle != null)
    {
    <div class="PortfolioMainBack">

        <!-- Main navigation -->
        <div class="py-5 offset-lg-2">

            <!-- Full Page Intro -->
            <div class="bg-transparent">
                <!-- Mask & flexbox options-->
                <div class="mask">
                    <!-- Content -->
                    <div class="container h-100 d-flex justify-content-center">

                            <div class="row align-items-center h-100 mx-2 d-flex justify-content-center">
                                @foreach (var item in Model.ListPortfolioViewModle.Take(1))
                                {
                                    <!--Grid column-->
                                    <div class="col-lg-5">
                                        <div class="mb-2  font-weight-bold display-5 ">@item.Title</div>
                                        <h6 class="mb-2 pb-2 text-white text-justify">@item.SubTitle</h6>
                                        <a href="@item.ButtonUrl" class="btn btn-outline-primary  btn-rounded btn-md"> @item.ButtonText <i class="fas fa-home ml-2"></i></a>
                                        <a href="/ContactUs" class="btn btn-outline-primary btn-rounded btn-md">Contact <i class="fas fa-at ml-2"></i></a>
                                    </div>
                                    <!--Grid column-->
                                    <!--Grid column-->
                                    <div class="col-lg-5">
                                        <div class="img-fluid pt-5">
                                            <lottie-player src=@item.BackgroundImage background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>

                                        </div>
                                    </div>
                                    <!--Grid column-->
                                }

                            </div>

                        <!--Grid row-->

                        <!--Grid row-->
                    </div>
                    <!-- Content -->
                </div>
                <!-- Mask & flexbox options-->
            </div>
            <!-- Full Page Intro -->

        </div>
        <!-- Main navigation -->

    </div>
        <!-- Main navigation -->

    }
@if (Model?.ListPortfolioAboutViewModel != null)
  {
    <div class="MainAboutMeBackground">

                            <div class="container">


                                <!--Section: Content-->


                                    <div class="row pr-lg-5 offset-lg-2">
                                        @foreach (var item in Model.ListPortfolioAboutViewModel)
                                        {
                                            <div class="col-lg-5 mb-4">

                                                <div class="img-fluid mt-4">
                                                    <lottie-player src=@item.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                                                    <div class="d-flex justify-content-center">
                                                        <!-- Facebook -->
                                                        <a href="https://www.linkedin.com/in/qais-yousuf-75261b125/" class="btn-floating btn-sm btn-li" type="button" role="button" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                                        <a href="https://www.instagram.com/qais_yousuf/" class="btn-floating btn-sm btn-ins" type="button" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
                                                        <a href="https://stackoverflow.com/users/9307351/qais-yousuf?tab=profile" class="btn-floating btn-sm btn-so" type="button" role="button" target="_blank"><i class="fab fa-stack-overflow"></i></a>
                                                        <a href="https://github.com/Qaisyousuf" class="btn-floating btn-sm btn-git" type="button" role="button" target="_blank"><i class="fab fa-github"></i></a>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-7">
                                                <div class="card-body">

                                                    <div class="font-weight-bold mb-4 display-3">@item.MainTitle</div>

                                                    <p class="text-justify">@item.Content</p>

                                                    <a href="@item.ButtonUrl" class="btn btn-primary btn-rounded btn-md" target="_blank">@item.ButtonText <i class="fas fa-cloud-download-alt ml-2"></i></a>
                                                    <br />

                                                </div>
                                            </div>
                                        }


                                    </div>


                                <!--Section: Content-->


                            </div>
                        </div>

 }
  @if (Model?.ListWorkExperienceViewModel != null)
    {
  <div class="WorkEXMainBackground">
                            <div class="container">

                                <section class="text-center text-white offset-lg-2">



                                    <div class="font-weight-bold display-4 mb-5">Work Experience</div>




                                    <div class="row text-center d-flex justify-content-center bg-transparent">
                                        @foreach (var item in Model.ListWorkExperienceViewModel)
                                        {
                                            <div class="col-md-4 mb-4">
                                                <div class="WorkExperienceMainBack">
                                                    <div class="WorkSVGBack img-fluid px-3">
                                                        <lottie-player src=https://assets2.lottiefiles.com/packages/lf20_vdqa3jom.json background="transparent" speed="2" style="width: auto; height: auto;" loop autoplay></lottie-player>
                                                    </div>
                                                    <div class="workContent">
                                                        <div class="card-img-100 mx-5 pt-5 mb-0">
                                                            <img src="@item.LogoUrl" class="img-fluid" alt="smaple image">
                                                        </div>

                                                        <h5 class="font-weight-normal mb-1 light-blue-text">@item.CompanyLocation</h5>
                                                        <span class="font-weight-normal mb-1 light-blue-text">@item.StartDate.ToShortDateString().ToString()</span>
                                                        <span class="light-blue-text">-</span>
                                                        <span class="font-weight-normal light-blue-text">@item.EndDate.ToShortDateString().ToString()</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-7 mt-lg-n5 mr-2 card z-depth-0 bg-transparent px-3  justify-content-center">

                                                <h4 class="font-weight-bold mb-1 light-blue-text text-left">@item.CompanyName</h4>
                                                <h6 class="font-weight-bold text-left light-blue-text mb-2">@item.JobTitle</h6>
                                                <p class="text-muted  mb-lg-0 text-justify">
                                                    @item.JobDesicription
                                                </p>



                                            </div>

                                        }


                                    </div>

                                </section>

                                <!--Section: Content-->
                                <!--Section: Content-->

                            </div>
                        </div>

  }

 @if (Model?.ListEducationViewModel != null)
                {
  <div class="EducationMainback">
                        <div class="container z-depth-0 offset-lg-2">


                            <!--Section: Content-->
                            <section class="dark-grey-text">

                                <div class="row px-3">

                                    @foreach (var item in Model.ListEducationViewModel)
                                    {
                                        <div class="col-md-5">

                                            <div class="img-fluid">
                                                <lottie-player src=@item.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>

                                            </div>

                                        </div>
                                        <div class="col-md-7 d-flex align-items-center">
                                            <div class="">

                                                <div class="font-weight-bold mb-1 text-white display-5">@item.MainTitle</div>

                                                <p class="text-white text-justify">@item.Content</p>

                                            </div>
                                        </div>
                                    }

                                </div>

                            </section>
                            <!--Section: Content-->


                        </div>
                    </div>

}

 @if (Model?.ListofOnlineCertificationViewModel != null)
 {
   <div class="container mt-5">


                    <!--Section: Content-->
                    <section class="mx-md-5 dark-grey-text">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-12 col-lg-11 offset-md-0 offset-lg-2">

                                <!-- Card -->
                                <div class="card card-cascade wider reverse">

                                    <!-- Card image -->
                                    <div class="view view-cascade overlay">
                                        <div class="img-fluid mx-md-5 mx-sm-0 mx-lg-5 px-md-5 px-sm-0 px-lg-5 mt-4">
                                            <lottie-player src=https://assets4.lottiefiles.com/packages/lf20_45movo.json background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>

                                        </div>

                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body card-body-cascade text-center">


                                        <!-- Social shares -->
                                        <div class="container my-5">


                                            <!-- Section: Block Content -->
                                            <section class="dark-grey-text text-center">

                                                @foreach (var item in Model.ListofOnlineCertificationViewModel.Take(1))
                                                {
                                                    <div class="font-weight-bold mb-4 pb-5 mt-4 display-4">@item.MainTitle</div>


                                                }


                                                <!-- Grid row -->
                                                <div class="row">

                                                    @foreach (var SubItem in Model.ListofOnlineCertificationViewModel)
                                                    {

                                                        <div class="col-md-6 mb-4">

                                                            <div class="view overlay rounded z-depth-1">
                                                                <img src="@SubItem.IconUrl" class="img-fluid" alt="Sample project image">
                                                                <a>
                                                                    <div class="mask rgba-white-slight"></div>
                                                                </a>
                                                            </div>

                                                            <div class="px-md-1 px-sm-0 px-lg-4 pt-3 mx-0 mt-1 pb-0">
                                                                <a class="blue-text">
                                                                    <h6 class="font-weight-bold mt-2 mb-3 light-blue-text"><i class="fas fa-chalkboard-teacher pr-2"></i>@SubItem.ProgramName</h6>
                                                                </a>
                                                                <a class="blue-text">
                                                                    <h6 class="font-weight-bold mt-2 mb-3 light-blue-text"> <i class="far fa-calendar-alt pr-2"></i>@SubItem.FinishDate.ToShortDateString().ToString()</h6>
                                                                </a>
                                                                <h5 class="font-weight-bold mb-3 light-blue-text">@SubItem.CourseLocation</h5>
                                                                <p class="text-muted text-justify">@SubItem.CourseDescription</p>
                                                                <a href="@SubItem.ButtonUrl" class="btn btn-primary btn-rounded btn-md" target="_blank">@SubItem.ButtonText</a>
                                                            </div>

                                                        </div>
                                                    }

                                                    <!-- Grid column -->

                                                </div>
                                                <!-- Grid row -->

                                            </section>
                                            <!-- Section: Block Content -->


                                        </div>
                                        <!-- Social shares -->

                                    </div>
                                    <!-- Card content -->

                                </div>
                                <!-- Card -->
                                <!-- Excerpt -->


                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->



                    </section>
                    <!--Section: Content-->


                </div>
  }

        @if (Model?.ListPortfolioProject != null && Model?.ListProjectStatuesViewModel != null)
        {

            <div class="PortfolioProjectMainBack">
                <div class="container my-5 mx-md-5 mx-sm-0 mx-lg-5">


                    <!--Section: Content-->
                    <section class="dark-grey-text offset-lg-2">


                        <!-- Section heading -->
                        @foreach (var item in Model.ListPortfolioProject.Take(1))
                        {
                            <div class="text-center display-4 font-weight-bold mb-4 pb-2">@item.MainTitle</div>
                        }

                        <!-- Section description -->
                        <!-- Grid row -->
                        <div class="row align-items-center">

                            <!-- Grid column -->
                            @foreach (var SubItem in Model.ListPortfolioProject)
                            {
                                <div class="col-md-4 col-xl-4 py-5">

                                    <!-- Featured image -->
                                    <div class=" overlay rounded z-depth-0 mb-lg-0 mb-4">
                                        <div class="img-fluid py-3">
                                            <lottie-player src=@SubItem.ProjectImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>

                                        </div>
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-7 col-xl-8">

                                    <!-- Post title -->
                                    <h3 class="font-weight-bold mb-3 light-blue-text">@SubItem.ProjectName</h3>
                                    <!-- Excerpt -->
                                    <p class="dark-grey-text">
                                        @SubItem.Content
                                    </p>
                                    <!-- Post data -->

                                    <div class="chip btn-primary">
                                        Date:  @SubItem.ProjectPublishDate.ToShortDateString().ToString()
                                        <i class="close fas fa-times"></i>
                                    </div>
                                    <!-- Read more button -->

                                    <div class="chip btn-primary">
                                        Type: @SubItem.ProjectType
                                        <i class="close fas fa-times"></i>
                                    </div>
                                    <div class="chip btn-primary">
                                        Created by: @SubItem.ProjectDetails
                                        <i class="close fas fa-times"></i>
                                    </div>
                                    @foreach (var ProjectStatusItem in Model.ListProjectStatuesViewModel.Take(1))
                                    {
                                        <div class="chip btn-primary">
                                            Status: @ProjectStatusItem.ProjectStatusProcess
                                            <i class="close fas fa-times"></i>
                                        </div>
                                    }

                                    <br />
                                    <a href="@SubItem.ProjectWebSiteUrl" class="btn btn-primary btn-md mx-0 btn-rounded" target="_blank">@SubItem.ButtonText</a>
                                </div>
                            }

                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->



                    </section>
                    <!--Section: Content-->


                </div>
            </div>

        }

    @if (Model?.ListInterestViewModel != null)
    {
        <div class="interestMainBackground">
            <div class="container  px-5 pb-3 z-depth-0">


                <!--Section: Content-->
                <section class="text-center dark-grey-text offset-lg-2">


                    <!-- Section heading -->
                    @foreach (var item in Model.ListInterestViewModel.Take(1))
                    {
                        <div class="font-weight-bold display-5">@item.MainTitle</div>
                    }


                    <!-- Section description -->
                    <div class="container">
                        <div class="row ">

                            <div class="col-md-5 col-sm-6 offset-1 mt-5">
                                <div class="row text-center d-flex justify-content-center">
                                    @foreach (var SubItem in Model.ListInterestViewModel)
                                    {
                                        <div class="col-sm-8 col-md-6 col-lg-4 mb-4">
                                            <div class=" mx-auto mb-2">

                                                <div class="interestSVG">
                                                    <div class="MainSVGBack">
                                                        <lottie-player src=https://assets9.lottiefiles.com/packages/lf20_xZ8sgo.json background="transparent" speed="1" style="width: 100px; height: 100px;" loop autoplay></lottie-player>

                                                    </div>
                                                    <div class="MainIcon">
                                                        <img src="@SubItem.UrlIcon" class="img-fluid" alt="smaple image">
                                                    </div>
                                                </div>


                                            </div>
                                            <h5 class="font-weight-bold text-white mb-4">@SubItem.Subtitle</h5>

                                        </div>
                                    }


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row text-center d-flex justify-content-center">
                                    <div class="col-md-12 mb-4">
                                        <div class="img-fluid py-3">
                                            <lottie-player src=https://assets4.lottiefiles.com/datafiles/MUp3wlMDGtoK5FK/data.json background="transparent" speed="3" style="width: auto; height: auto;" loop autoplay></lottie-player>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>



                </section>
                <!--Section: Content-->


            </div>
        </div>
    }

@section scripts{
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav({
                breakpoint: 1200
            });
            // SideNav Scrollbar Initialization
            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });
    </script>
}

@section PortfolioCustomCSS{
    @Styles.Render("~/Content/PortfolioCustomCSS.css")
}