@model QaisYousuf.ViewModels.ListOfCodePages
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Technology.cshtml";
}
@if (Model?.ListOfCodeBannerViewModel != null)
{
<div class="MainCodeBackground">
    <div class="h-100">


        @foreach (var item in Model.ListOfCodeBannerViewModel.Take(1))
        {
            <div class="bg-transparent">
                <!-- Mask & flexbox options-->
                <div class="mask">
                    <!-- Content -->
                    <div class="container h-100">
                        <!--Grid row-->
                        <div class="row align-items-center h-100 pt-lg-5 pt-md-5">
                            <!--Grid column-->
                            <div class="col-md-6 col-lg-7 text-center text-lg-left pt-3 ">
                                <div class="display-5 mb-0">@item.MainTitle</div>
                                <p class="mb-2 pb-0 text-white text-justify">@item.SubTitle</p>

                                <a href="@item.ButtonUrl" class="btn btn-info btn-rounded  btn-md ml-md-0">@item.ButtonText</a>

                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6 col-lg-5 col-sm-12">
                                <div class="img-fluid">
                                    <lottie-player src=@item.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </div>
                    <!-- Content -->
                </div>
                <!-- Mask & flexbox options-->
            </div>
        }
    </div>
</div>
 
}

@if (Model?.ListOfWebProgramming != null)
{
    <div class="MainToolsBackground mt-5">


        <div class="display-4 text-center">Our Tools and Technologies</div>
        <div class=" container my-lg-5 z-depth-0">


            <!--Section: Content-->
            <section class="dark-grey-text">

                <div class="row pr-lg-5 pt-lg-4 ">
                    <div class="col-md-6 col-lg-5 offset-lg-1">
                        @foreach (var LottiImage in Model.ListOfWebProgramming.Take(1))
                        {
                            <div class="view pt-5">
                                <lottie-player src=@LottiImage.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>
                        }

                    </div>

                    <div class="col-md-6 col-lg-4 offset-lg-1 mb-4">

                        <div class="pricing-card card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade gradient-card-header  blue lighten-1">

                                @foreach (var item in Model.ListOfWebProgramming.Take(1))
                                {
                                    <h4 class=" card-header-title">@item.MainTitle</h4>
                                }
                                <!-- Title -->
                                <!-- Subtitle -->
                                <!-- Facebook -->


                            </div>

                            <!-- Card content -->
                            <div class="card-body mx-5 card-body-cascade  text-left mx-3">

                                @foreach (var subItem in Model.ListOfWebProgramming)
                                {
                                    <ul>
                                        <li>
                                            <h6 class="mt-2"><img src="@subItem.IconUrl" style="height:30px; width:30px; margin-right:10px;" />@subItem.ProgramTitle</h6>
                                        </li>
                                    </ul>
                                }
                                <!-- Text -->


                            </div>

                        </div>

                    </div>
                </div>

            </section>
            <!--Section: Content-->


        </div>
        <div class=" container my-5 z-depth-0">


            <!--Section: Content-->
            <section class="dark-grey-text">

                <div class="row pr-lg-5">
                    <div class="col-md-6 col-lg-5 offset-lg-1">
                        @foreach (var LottiImage in Model.ListUIUXToolsViewModel.Take(1))
                        {
                            <div class="view pt-5">
                                <lottie-player src=@LottiImage.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>
                        }



                    </div>

                    <div class="col-md-6 col-lg-4 offset-lg-1 mb-4">

                        <div class="pricing-card card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade gradient-card-header  blue lighten-1">

                                @foreach (var item in Model.ListUIUXToolsViewModel.Take(1))
                                {
                                    <h4 class=" card-header-title">@item.MainTitle</h4>
                                }
                                <!-- Title -->
                                <!-- Subtitle -->
                                <!-- Facebook -->


                            </div>

                            <!-- Card content -->
                            <div class="card-body mx-5 card-body-cascade  text-left mx-3">

                                @foreach (var subItem in Model.ListUIUXToolsViewModel)
                                {
                                    <ul>
                                        <li>
                                            <h6 class="mt-2"><img src="@subItem.IconUrl" style="height:30px; width:30px; margin-right:10px;" />@subItem.ProgramTitle</h6>
                                        </li>
                                    </ul>
                                }
                                <!-- Text -->


                            </div>

                        </div>



                    </div>
                </div>

            </section>
            <!--Section: Content-->


        </div>


    </div>

}

@if (Model?.ListCodeDesignViewModel != null)
{
   
    <div class="CodeDesignMainBackground">
        <div class="container pt-5 z-depth-0">

            @foreach (var CodeDesignItem in Model.ListCodeDesignViewModel.Take(1))
            {
                <section class=" pt-2">

                    <div class="row">
                        <div class="col-md-6 text-center d-lg-flex d-md-flex align-items-center pt-5">
                            
                                <div class="display-5 font-weight-bold mb-4">@CodeDesignItem.Title</div>
                            
                        </div>
                        <div class="col-md-6 mb-4">

                            <div class="img-fluid">
                                <lottie-player src=@CodeDesignItem.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>

                        </div>

                    </div>

                </section>
            }
            <!--Section: Content-->
            <!--Section: Content-->


        </div>
    </div>
    
   

}
    <div class="container  z-depth-0">


        <!--Section: Content-->
        <section class="dark-grey-text p-5">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-5 mb-4 mb-md-0">

                    <div class="view">
                        <img src="https://mdbootstrap.com/img/illustrations/undraw_Group_chat_unwm.svg" class="img-fluid" alt="smaple image">
                    </div>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-7 mb-lg-0 mb-4">

                    <!-- Form -->
                    <form class="" action="">

                        <!-- Section heading -->
                        <h3 class="font-weight-bold my-3">Subscribe</h3>

                        <p class="text-muted mb-4 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae, fuga similique quos aperiam tenetur quo ut rerum debitis.</p>

                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Enter your email address"
                                   aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-md btn-primary rounded-right m-0 px-3 py-2 z-depth-0 waves-effect" type="submit" id="button-addon2">Button</button>
                            </div>
                        </div>
                        <small class="form-text black-text"><strong>* Leave your email addres to be notified first.</strong></small>

                    </form>
                    <!-- Form -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->


    </div>

@section CodeCustomCSS{
    @Styles.Render("~/Content/CodeCustomCSS.css")
}


