@model QaisYousuf.ViewModels.ListOfCodePages
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Technology.cshtml";
}
@if (Model?.ListOfCodeBannerViewModel != null)
{
    <div class="MainCodeBackground">
        <div class="h-100">


            @foreach (var item in Model.ListOfCodeBannerViewModel.Take(1))
            {
                <div class="bg-transparent">
                    <!-- Mask & flexbox options-->
                    <div class="mask">
                        <!-- Content -->
                        <div class="container h-100">
                            <!--Grid row-->
                            <div class="row align-items-center h-100 pt-lg-5 pt-md-5">
                                <!--Grid column-->
                                <div class="col-md-6 col-lg-7 text-center text-lg-left pt-3 ">
                                    <div class="display-5 mb-0">@item.MainTitle</div>
                                    <p class="mb-2 pb-0 text-white text-justify">@item.SubTitle</p>

                                    <a href="@item.ButtonUrl" class="btn btn-info btn-rounded  btn-md ml-md-0">@item.ButtonText</a>

                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-6 col-lg-5 col-sm-12">
                                    <div class="img-fluid">
                                        <lottie-player src=@item.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                                    </div>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->
                        </div>
                        <!-- Content -->
                    </div>
                    <!-- Mask & flexbox options-->
                </div>
            }
        </div>
    </div>

}

@if (Model?.ListOfWebProgramming != null)
{
    <div class="MainToolsBackground mt-5">


        <div class="display-4 text-center">Our Tools and Technologies</div>
        <div class=" container my-lg-5 z-depth-0">


            <!--Section: Content-->
            <section class="dark-grey-text">

                <div class="row pr-lg-5 pt-lg-4 ">
                    <div class="col-md-6 col-lg-5 offset-lg-1">
                        @foreach (var LottiImage in Model.ListOfWebProgramming.Take(1))
                        {
                            <div class="view pt-5">
                                <lottie-player src=@LottiImage.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>
                        }

                    </div>

                    <div class="col-md-6 col-lg-4 offset-lg-1 mb-4">

                        <div class="pricing-card card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade gradient-card-header  blue lighten-1">

                                @foreach (var item in Model.ListOfWebProgramming.Take(1))
                                {
                                    <h4 class=" card-header-title">@item.MainTitle</h4>
                                }
                                <!-- Title -->
                                <!-- Subtitle -->
                                <!-- Facebook -->


                            </div>

                            <!-- Card content -->
                            <div class="card-body mx-5 card-body-cascade  text-left mx-3">

                                @foreach (var subItem in Model.ListOfWebProgramming)
                                {
                                    <ul>
                                        <li>
                                            <h6 class="mt-2"><img src="@subItem.IconUrl" style="height:30px; width:30px; margin-right:10px;" />@subItem.ProgramTitle</h6>
                                        </li>
                                    </ul>
                                }
                                <!-- Text -->


                            </div>

                        </div>

                    </div>
                </div>

            </section>
            <!--Section: Content-->


        </div>
        <div class=" container my-5 z-depth-0">


            <!--Section: Content-->
            <section class="dark-grey-text">

                <div class="row pr-lg-5">
                    <div class="col-md-6 col-lg-5 offset-lg-1">
                        @foreach (var LottiImage in Model.ListUIUXToolsViewModel.Take(1))
                        {
                            <div class="view pt-5">
                                <lottie-player src=@LottiImage.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>
                        }



                    </div>

                    <div class="col-md-6 col-lg-4 offset-lg-1 mb-4">

                        <div class="pricing-card card card-cascade narrower">

                            <!-- Card image -->
                            <div class="view view-cascade gradient-card-header  blue lighten-1">

                                @foreach (var item in Model.ListUIUXToolsViewModel.Take(1))
                                {
                                    <h4 class=" card-header-title">@item.MainTitle</h4>
                                }
                                <!-- Title -->
                                <!-- Subtitle -->
                                <!-- Facebook -->


                            </div>

                            <!-- Card content -->
                            <div class="card-body mx-5 card-body-cascade  text-left mx-3">

                                @foreach (var subItem in Model.ListUIUXToolsViewModel)
                                {
                                    <ul>
                                        <li>
                                            <h6 class="mt-2"><img src="@subItem.IconUrl" style="height:30px; width:30px; margin-right:10px;" />@subItem.ProgramTitle</h6>
                                        </li>
                                    </ul>
                                }
                                <!-- Text -->


                            </div>

                        </div>



                    </div>
                </div>

            </section>
            <!--Section: Content-->


        </div>


    </div>

}

@if (Model?.ListCodeDesignViewModel != null)
{

    <div class="CodeDesignMainBackground">
        <div class="container pt-5 z-depth-0">

            @foreach (var CodeDesignItem in Model.ListCodeDesignViewModel.Take(1))
            {
                <section class=" pt-2">

                    <div class="row">
                        <div class="col-md-6 text-center d-lg-flex d-md-flex align-items-center pt-5">

                            <div class="display-5 font-weight-bold mb-4">@CodeDesignItem.Title</div>

                        </div>
                        <div class="col-md-6 mb-4">

                            <div class="img-fluid">
                                <lottie-player src=@CodeDesignItem.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                            </div>

                        </div>

                    </div>

                </section>
            }
            <!--Section: Content-->
            <!--Section: Content-->


        </div>
    </div>



}

@if (Model?.ListOfSubscribeViewModel != null)
{
    foreach (var item in Model.ListOfSubscribeViewModel.Take(1))
    {
        <div class="container pt-lg-5 mt-lg-5 z-depth-0">


            <!--Section: Content-->
            <section class="dark-grey-text">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-5 col-md-6 mb-2 mb-md-0">

                        <div class="img-fluid">
                            <lottie-player src=@item.ImageUrl background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-7 col-md-6 pt-lg-5">

                        <!-- Form -->
                        <div class=" ">

                            <!-- Section heading -->
                            <h4 class="font-weight-bold light-blue-text ">@item.Title</h4>

                            <p class=" text-justify">@item.Content</p>
                            <div class="ml-n3">
                                @{ Html.RenderAction("Create", "TechnologyTools");}
                            </div>
                           

                            

                        </div>
                        <!-- Form -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!--Section: Content-->


        </div>

        
    }
}


@section CodeCustomCSS{
    @Styles.Render("~/Content/CodeCustomCSS.css")
}


